{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Your shopping bag</h1>
            <small></small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <img class="store-image-details" src="/media/ui/bag.png" alt="A shopping bag">
        <h6 class="border-bottom pb-2 mb-0"></h6>

        {% if bag_items %}
        {% for item in bag_items %}
        <div class="d-flex pt-3 border-bottom store-item bag-item">
            <p class="mb-0 small lh-sm ">
                <strong class="d-block text-gray-dark">{{ item.product.name }}</strong>
                Qty: {{ item.quantity }}
            </p>
            <p class="small lh-sm">{{ item.product.price }}</p>
            <a class="update-link text-info"><small>Update</small></a>
            <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
        </div>
        {% endfor %}
        {% else %}
        <div class="d-flex pt-3 border-bottom store-item">
            <p class="pb-3 mb-0 small lh-sm ">
                <strong class="d-block text-gray-dark">Your shopping bag is empty!</strong>
            </p>
        </div>
        {% endif %}

        <small class="d-block text-end mt-3">
            <a href="{% url 'store' %}">Back to store</a>
          </small>
    </div>
</main>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}