{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Premium {% endblock %}
{% block content %}

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">{{ user.username }}'s Profile.</h1>
      <small>Check and update your details.</small>
    </div>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex pt-3 border-bottom">
      <p class="pb-3 mb-0 small lh-sm ">
        <strong class="d-block text-gray-dark">Buy Premium</strong>
        Receive special rewards for buying a premium membership!
      </p>
    </div>
    <div class="container rounded">
      <div class="row justify-content-center mt-3">
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
              <h6 class="card-price text-center">£1<span class="period"> /lifetime membership</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Extra farm space</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Reduced grow times</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Increased sell prices</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Store discounts</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Cool banner</li>
              </ul>
              <div class="d-grid">
                <form action="{% url 'buy_premium' price=1 price2=2 %}" method="POST">
                  {% csrf_token %}
                  <button class="button" type="submit">Buy Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex pt-3 border-top mt-3">
          <p class="pb-3 mb-0 small lh-sm ">
            <strong class="d-block text-gray-dark"><small>
              Please note: This web app was built for a school project and is not for profit. This Stripe payment system
            was added to meet module pass criteria. If you would like to use the premium features, get in touch via the
            help/contact page and I will add premium to your account for free :)</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}