{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <img class="header-image" src="/media/ui/market_sign.gif" alt="A farm house">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">General Store</h1>
            <small>Seeds, tools, and more!</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">All items</h6>

        {% for product in products %}
        <a href="{% url 'product_detail' product.id %}">
            <div class="d-flex pt-3 border-bottom store-item">
            <img class="store-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            <p class="pb-3 mb-0 small lh-sm ">
                <strong class="d-block text-gray-dark">{{ product.name }}</strong>
                {{ product.description }}
            </p>
            <p class="store-price">{{ product.price }}<i class="fa-solid fa-coins"></i></p>
        </div>
    </a>
        {% endfor %}

    </div>
</main>

{% endblock %}