@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'Martel', serif;
    font-weight: 800;
    margin-top: 8px;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 1.2rem;
}

h3 {
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 1.3rem;
    font-weight: 400;
}

p {
    font-family: 'Poppins', serif;
    font-weight: 200;
}

/* ---------------------------------------------------------------- NAVIGATION */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-box-shadow: 20px 0px 42px -30px rgba(0, 0, 0, 0.23);
    box-shadow: 20px 0px 42px -30px rgba(0, 0, 0, 0.23);
    background: #FFEEEE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DDEFBB, #FFEEEE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DDEFBB, #FFEEEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-right: 1px solid rgb(126 126 126);
}

.sidebar a {
    width: 90%;
    margin: auto;
    font-family: 'Martel', serif;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
    padding: 4px;
    padding-left: 35px;
    border-bottom: 1px solid rgb(126 126 126);
}

.navbar {
    background-color: #edf2f4;
}

.logo {
    margin: 10px auto;
    margin-top: 30px;
    background-image: url("/media/ui/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    width: 210px;
    height: 160px;
    -webkit-filter: drop-shadow(3px 5px 5px #222);
    filter: drop-shadow(0px 3px 5px #000);
}

.sidebar a:hover {
    color: #777777;
}

i {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    padding: 10px, 15px, 10px, 0px;
}

.openbtn:hover,
button:focus {
    outline: none;
}

#main {
    transition: margin-left .7s;
    padding-top: 0px;
    margin-left: 250px;
    background-color: #edf2f4;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -30px hsl(229, 6%, 66%);
    padding: 25px;
    margin: 15px; 
    border-top: 3px solid #6d86f5;
    background-color: #faf9f9;
}

.box img {
    float: right;
}

@media (max-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    #main {
        margin-left: 0px;
    }
}