{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Crop Field {% endblock %}
{% block content %}

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Your Farm</h1>
            <small>Plant, grow and harvest crops.</small>
        </div>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Your crops</h6>
        <div class="container field-container">
            <div class="field-background">
                <img src="/media/ui/field.png" alt="">
            </div>
            <div class="plant1 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop1 %}
                <img class="store-image-details" src="{{ farm.crop1.image.url }}" alt="{{ farm.crop1 }}">
                <div class="harvest-time">{{ farm.crop1_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time">{{ farm.crop1_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop1 position='crop1' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user  and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop1' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant2 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop2 %}
                <img class="store-image-details" src="{{ farm.crop2.image.url }}" alt="{{ farm.crop2 }}">
                <div class="harvest-time">{{ farm.crop2_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time">{{ farm.crop2_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop2 position='crop2' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop2' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant3 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop3 %}
                <img class="store-image-details" src="{{ farm.crop3.image.url }}" alt="{{ farm.crop3 }}">
                <div class="harvest-time">{{ farm.crop3_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time">{{ farm.crop3_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop3 position='crop3' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton3"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop3' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant4 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop4 %}
                <img class="store-image-details" src="{{ farm.crop4.image.url }}" alt="{{ farm.crop4 }}">
                <div class="harvest-time" id="harvest-time">{{ farm.crop4_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time" id="plant-time">{{ farm.crop4_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop4 position='crop4' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton4"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop4' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant5 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop5 %}
                <img class="store-image-details" src="{{ farm.crop5.image.url }}" alt="{{ farm.crop5 }}">
                <div class="harvest-time" id="harvest-time">{{ farm.crop5_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time" id="plant-time">{{ farm.crop5_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop5 position='crop5' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton5"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop5' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant6 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop6 %}
                <img class="store-image-details" src="{{ farm.crop6.image.url }}" alt="{{ farm.crop6 }}">
                <div class="harvest-time" id="harvest-time">{{ farm.crop6_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time" id="plant-time">{{ farm.crop6_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop6 position='crop6' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton6"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop6' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant7 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop7 %}
                <img class="store-image-details" src="{{ farm.crop7.image.url }}" alt="{{ farm.crop7 }}">
                <div class="harvest-time" id="harvest-time">{{ farm.crop7_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time" id="plant-time">{{ farm.crop7_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop7 position='crop7' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton7"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop7' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="plant8 plant">
                {% for farm in farms %}
                {% if farm.user == user %}
                {% if farm.crop8 %}
                <img class="store-image-details" src="{{ farm.crop8.image.url }}" alt="{{ farm.crop8 }}">
                <div class="harvest-time" id="harvest-time">{{ farm.crop8_harvest_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="plant-time" id="plant-time">{{ farm.crop8_plant_time|date:"F d, Y, G:i:s a" }}</div>
                <div class="progressContainer">
                </div>
                <a class="progressHarvestContainer" href="{% url 'harvest_crop' crop=farm.crop8 position='crop8' %}">
                    Harvest
                    </a>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton8"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
                        {% for item in items %}
                        {% if item.owner == user and item.item.category.name == 'seeds' %}
                        <li class="dropdown-item">
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop8' number='1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-item"><a href="{% url 'store' %}">Store</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- insert second premium farm here -->
    </div>
</main>
<script src="{% static 'js/crop-timer.js' %}"></script>
{% endblock %}