{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Your Farm</h1>
            <small>Plant, grow and harvest crops.</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Your crops</h6>
        <div class="d-flex pt-3 border-bottom">
            <p class="pb-3 mb-0 small lh-sm ">
                <strong class="d-block text-gray-dark">Available spots:</strong>
                999
                <strong class="d-block text-gray-dark">Active crops:</strong>
                999
                <strong class="d-block text-gray-dark">Ready for harvest:</strong>
            </p>
        </div>

        <div class="container field-container">
            <div class="field-background">
                <img src="/media/ui/field.png" alt="">
            </div>

            <div class="plant1">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop1' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant2">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop2' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant3">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop3' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant4">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop4' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant5">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop5' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant6">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop6' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant7">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop7' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="plant8">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Plant
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for item in items %}
                        {% if item.owner == user %}
                        <li>
                            <form class="form store-price"
                                action="{% url 'plant_crop' item=item.item cropslot='crop8' %}" method="POST">
                                {% csrf_token %}
                                <button class="crop-button" type="submit">
                                    {{ item.item }}
                                    ({{item.quantity}})
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}