{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Your Farm</h1>
            <small>Plant, grow and harvest crops.</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Your crops</h6>
        <div class="d-flex pt-3 border-bottom">
            <p class="pb-3 mb-0 small lh-sm ">
                <strong class="d-block text-gray-dark">Available spots:</strong>
                999
                <strong class="d-block text-gray-dark">Active crops:</strong>
                999
            </p>
        </div>

        <div class="container field-container">
            <div class="field-background">
                <img src="/media/ui/field.png" alt="">
            </div>
            <div class="plant1">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant2">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant3">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant4">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant5">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant6">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant7">
                <img src="/media/carrot_seed.png" alt="">
            </div>
            <div class="plant8">
                <img src="/media/carrot_seed.png" alt="">
            </div>
        </div>


    </div>


    {% endblock %}