{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Inventory</h1>
            <small>Check all of your currently owned items from here.</small>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-5 col-5 item-slot align-items-center">
                <img class="coin" src="/media/ui/coin.png"
                    alt="coin, currency of sunrise farm"><strong>{{ user.profile.coins }}</strong>
            </div>
            <div class="col-md-2 col-sm-5 col-5 item-slot">
                <img class="special-item" src="/media/axe.png" alt="An axe">
            </div>
            <div class="col-md-2 col-sm-5 col-5 item-slot">
                <img class="special-item" src="/media/scythe.png" alt="A scythe">
            </div>
            <div class="col-md-2 col-sm-5 col-5 item-slot">
                <img class="special-item" src="/media/watercan.png" alt="A watering can">
            </div>

        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Your Inventory</h6>

        {% for item in items %}
        {% if item.owner == user %}
        <a href="{% url 'product_detail' item.item %}">
            <div class="d-flex pt-3 border-bottom store-item">
                <img class="store-image-details" src="{{ item.item.image.url }}" alt="{{ item.item }}">
                <p class="pb-3 mb-0 small lh-sm ">
                    <strong class="d-block text-gray-dark">{{ item.item }}</strong>
                    More info
                </p>
                <p class="store-price">Qty: {{ item.quantity }}</p>
            </div>
        </a>
        {% endif %}
        {% endfor %}

        <small class="d-block text-end mt-3">
            <a href="{% url 'home' %}">Back to farm</a>
        </small>
</main>

{% endblock %}