{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
    <div class="lh-1">
      <h1 class="mb-0 text-white lh-1">Sign up</h1>
    </div>
  </div>

  
  <div class="my-3 p-3 bg-body rounded shadow-sm">

    <div class="d-flex pt-3 border-bottom">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><strong>sign in</strong></a>.{% endblocktrans %}</p>


</div>

<div class="pt-3 border-bottom">
  <div class="login-register-input">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>

{% endblock %}
