{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="container">

    <img class="header-image" src="/media/ui/sign.png" alt="A farm house">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
        <div class="lh-1">
          <h1 class="mb-0 text-white lh-1">Notice Board</h1>
          <small>Help out the locals with various errands.</small>
        </div>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Tasks</h6>
    
        <ul>
            <li>
              <a href="#" >
                <h2>Title #1</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #2</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #3</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #4</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #5</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #6</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #7</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
            <li>
              <a href="#" >
                <h2>Title #8</h2>
                <small><p>Text Content</p></small>
              </a>
            </li>
          </ul>

      </div>


</main>

{% endblock %}