{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block core_meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}
  {% block extra_meta %}
  {% endblock %}
  {% block core_css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
  {% block extra_css %}
  {% endblock %}
  {% block core_js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/sidebar.js' %}"></script>
  {% endblock %}
  {% block extra_js %}
  {% endblock %}
  <title>Sunrise Farm {% block extra_title %} {% endblock %}</title>
</head>
<body>
  <div id="mySidebar" class="sidebar">
    <div class="logo"><img src="/media/ui/sunrise-logo.png" alt=""></div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'home' %}"><i class="fa-solid fa-wheat-awn"></i> My Farm</a>
    <a href="{% url 'home' %}#headout"><i class="fa-solid fa-store"></i> Visit Town</a>
    <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> My Account</a>
    <a href="{% url 'account_logout' %}" class=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    {% else %}
    <a href="{% url 'account_signup' %}" class=""><i class="fa-solid fa-user-plus"></i> Register</a>
    <a href="{% url 'account_login' %}" class=""><i class="fa-solid fa-user-check"></i> Login</a>
    {% endif %}
    <a href="#"><i class="fa-solid fa-circle-question"></i> Help</a>
    <a href="#"><i class="fa-solid fa-circle-info"></i> About</a>
    {% if request.user.is_authenticated %}
    {% if user.profile.is_premium == "yes" %}
    <div class="premium-tag">Premium</div>
    {% endif %}
    {% endif %}
  </div>
  <div id="main">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
      <div class="openbtn" onclick="openNav();"><i class="fa-solid fa-bars"></i></div>
      {% if request.user.is_authenticated %}
      <img class="coin nav-coin" src="/media/ui/coin.png"
        alt="coin, currency of sunrise farm"><strong>{{ user.profile.coins }}</strong>
      {% endif %}
      <div class="openbtn openbtn-mobile" onclick="openNav();"><i class="fa-solid fa-bars"></i></div>
    </nav>
    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
      {% include 'includes/toasts/notification.html' %}
      {% endfor %}
    </div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer>
      <div class="container">
        <footer>
          <ol class="nav justify-content-center border-bottom border-success pb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-github"></i></a></li>
          </ol>
          <p class="text-center text-muted">Designed and built by Paul Shepherd</p>
        </footer>
      </div>
    </footer>
  </div>
  {% block postloadjs %}
  <script type="text/javascript">
    $( ".message-container" ).fadeOut( 3000, function() {
    // Animation complete.
  });
  </script>
  {% endblock %}
</body>
</html>